<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Director:</b>
  <%= @movie.director.name %>
</p>

<p>
  <b><%= pluralize(@movie.roles.count, "Role") %></b>
  <ul>
  <% @movie.roles.each do |role| %>
    <li><%= role.name %></li>
  <% end %>
  </ul>
</p>

<% if @showcast %>
<p>
  <b><%="Total Cast: #{@movie.roles.count}" %></b>
  <ul>
  <% @movie.roles.each do |role| %>
    <li><%= Actor.find(role.actor_id).name %></li>
  <% end %>
  </ul>
</p
<% end %>

<% if ! @showcast %>
  <%= link_to 'Show Cast', cast_path(@movie) %> |
<% end %>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
